<h1>Listing stitches</h1>

<table>
  <tr>
    <th>Scroll</th>
    <th>Scribbling</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stitches.each do |stitch| %>
  <tr>
    <td><%= link_to stitch.scroll.title, stitch.scroll %></td>
    <td><%= link_to stitch.scribbling.body, stitch.scribbling %></td>
    <td><%= link_to 'Show', stitch %></td>
    <td><%= link_to 'Edit', edit_stitch_path(stitch) %></td>
    <td><%= link_to 'Destroy', stitch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Stitch', new_stitch_path %>
