<%= form_for(@scroll) do |f| %>
  <% if @scroll.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scroll.errors.count, "error") %> prohibited this scroll from being saved:</h2>

      <ul>
      <% @scroll.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_area :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
