<p id="notice"><%= notice %></p>

<p>
  <b>Witch name:</b>
  <%= @witch.witch_name %>
</p>

<p>
  <b>First name:</b>
  <%= @witch.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @witch.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @witch.email %>
</p>


<%= link_to 'Edit', edit_witch_path(@witch) %> |
<%= link_to 'Back', witches_path %>
