<h1>Listing scribblings</h1>

<table>
  <tr>
    <th>Body</th>
    <th>Witch</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @scribblings.each do |scribbling| %>
  <tr>
    <td><%= scribbling.body %></td>
    <td><%= Witch.find(scribbling.witch_id).witch_name if scribbling.witch_id? %></td>
    <td><%= link_to 'Show', scribbling %></td>
    <td><%= link_to 'Edit', edit_scribbling_path(scribbling) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Scribbling', new_scribbling_path %>
