<p id="notice"><%= notice %></p>

<p>
  <b>Body:</b>
  <%= @scribbling.body %>
</p>

<% if @scribbling.witch_id %>
  <p>
    <b>Witch:</b>
    <%= Witch.find(@scribbling.witch_id).witch_name %>
  </p>
<% end %>

<%= link_to 'Edit', edit_scribbling_path(@scribbling) %> |
<%= link_to 'Back', scribblings_path %>
