<!DOCTYPE html>
<html>
<head>
  <title>Witchcraft</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <%= link_to 'All Scrolls in the Realm', scrolls_path %>
    <%= link_to 'Scribbled scrawls', scribblings_path %>
    <%= link_to 'Stitches', stitches_path %>
  </nav>

<%= yield %>

</body>
</html>
